

<div class="contents-wrap">
  <% #エラーメッセージ呼び出し %>
  <%= render "layouts/errors", errors: @user.errors %>
  <div class="contents-inner">
    <div class="gray-wrap">
      <h1>従業員情報入力</h1>
      <%= form_for @user, url: {:controller => :employee_informations, :action => :upsert, :id => @user.id } do |f| %>
        <div class="top-edit">
          <dl class="edit-wrap small">
            
            <dt>入社日</dt>
            <dd>
              <span class="input w200">
                <%= f.date_field :hire_date %>
              </span>
            </dd>

            <dt>部門</dt>
            <dd>
              <span class="input contents-label">
                <%= f.text_field :department_code_id %>
              </span>
              <span class="input w100 not-edit"><%= @department_name %></span>
            </dd>
            <dt>社員No</dt>
            <dd>
              <span class="input w100">
                <%= f.text_field :user_code %>
              </span>
            </dd>
            <dt>氏名</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :family_name %>
                <%= f.text_field :given_name %>
              </span>
            </dd>
            <dt>振り仮名</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :family_name_kana %>
                <%= f.text_field :given_name_kana %>
              </span>
            </dd>
            <dt>マスタキー</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :master_key %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
            <dt>所属部署</dt>
            <dd>
              <span class="input w200">
                <input type="text" name="" id="" value="営業部"/>
              </span>
            </dd>
            <dt>役職</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :position %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>社用携帯番号</dt>
            <dd>
              <span class="input w120">
                <%= f.text_field :mobile_phone_number %>
              </span>
            </dd>
            <dt>社用車No</dt>
            <dd>
              <span class="input w120">
                <%= f.text_field :company_car_No %>
              </span>
            </dd>
            <dt>緊急連絡先</dt>
            <dd class="w-flex ml0">
              <div class="w100per">
                <span class="input w100per upper">
                  <%= f.text_field :emergency_phone_number %>
                </span>
                <span class="input w100per lower">
                  <input type="text" name="" id="" value="田中"/>
                  <input type="text" name="" id="" value="太郎"/>
                </span>
              </div>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>MAIL</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :mail_address %>
              </span>
            </dd>
            <dt>血液型</dt>
            <dd>
              <span class="input w120">
                <%= f.select :blood_type, [["A", "A"], ["B", "B"], ["O", "O"], ["AB", "AB"]], include_blank: "選択して下さい" %>
              </span>
            </dd>
            <dt>健康診断実施日</dt>
            <dd>
              <span class="input w200">
                <%= f.date_field :medical_examination_date %>
              </span>
            </dd>
          </dl>

          <div class="top-edit-flex">
            <dl class="edit-wrap small">
              <dt class="w120">備考欄</dt>
              <dd class="w-flex ml0">
                <div class="w100per">
                  <span class="input w100per upper">
                    <%= f.text_area :note %>
                  </span>
                  <span class="input w100per lower">
                    <input type="text" name="" id="" value="" />
                  </span>
                </div>
              </dd>
            </dl>
            <ul class="top-button-list">
              <li><button name="create">新規登録</button></li>
              <li><button name="update">保存</button></li>
            </ul>
          </div>
          <dt>ログインID</dt>
          <dd>
            <span class="input w100">
              <%= f.text_field :login_id %>
            </span>
          </dd>
          <dt>パスワード</dt>
          <dd>
            <span class="input w100">
              <%= f.password_field :password %>
            </span>
          </dd>
          <dt>権限</dt>
          <dd>
            <span class="input w100">
              <%= f.text_field :authority_code %>
            </span>
          </dd>
          
        </div>
      <% end %>
    </div>
  </div>
  <div class="contents-inner">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>部門コード</th>
          <th>担当コード</th>
          <th>氏名</th>
          <th>所属部署</th>
          <th>役職</th>
          <th>社用携帯番号</th>
          <th>MAIL</th>
          <th>緊急連絡先</th>
          <th>血液型</th>
          <th>健康診断実施日</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each.with_index(1) do |user, i| %>
          <tr data-link="<%= edit_employee_information_path(user.user_code) %>">
            <td><%= i %></td>
            <td><%= user.department_code_id %></td>
            <td><%= user.user_code %></td>
            <td><%= user.family_name %><%= user.given_name %></td>
            <td>所属部署</td>
            <td><%= user.position %></td>
            <td><%= user.mobile_phone_number %></td>
            <td><%= user.mail_address %></td>
            <td><%= user.emergency_phone_number %></td>
            <td><%= user.blood_type %></td>
            <td><%= user.medical_examination_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>

<style>
  tr:hover {
    background: gray;
  }
</style>