<h1>ログイン</h1>
<% flash.each do |key, value| %>
  <%= value %>
<% end %>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :employee_no %>
  <%= f.text_field :employee_no %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>