<div class="contents-wrap small-size">
  <div class="contents-inner">
    <div class="gray-wrap">
      <div class="heading-wrap mb-large">
        <h1>メニュー</h1>
        <dl class="edit-wrap x1">
            <dt>ユーザー名</dt>
            <dd>
                <span class="input w200"><%= session[:user_name] %></span>
            </dd>
        </dl>
      </div>
      <ul class="menu-button">
        <li><%= link_to '見積', estimates_path, class: 'button' %></li>
        <li><%= link_to '返品（未実装）', '', class: 'button' %></li>
        <li><%= link_to '受注', orders_path, class: 'button' %></li>
        <li><%= link_to '売掛', receivables_path, class: 'button' %></li>
        <li><%= link_to '発注', not_orders_path, class: 'button' %></li>
        <li><%= link_to '買掛', payables_path, class: 'button' %></li>
        <li><%= link_to '入荷・仕入', instocks_path, class: 'button' %></li>
        <li><%= link_to '在庫（未実装）', '', class: 'button' %></li>
        <li><%= link_to 'マスタ管理', master_managements_path, class: 'button' %></li>
        <li><%= link_to '出荷・売上', shipments_path, class: 'button' %></li>
        <li><%= link_to '報告書（未実装）', '', class: 'button' %></li>
        <li><%= link_to '始末書（未実装）', '', class: 'button' %></li>
        <li><%= link_to '照会', inquiry_managements_path, class: 'button' %></li>
      </ul>
      <div class="login-button"><button><%= link_to "終了", logout_path, method: :delete, class: 'block' %></button></div>
    </div>
  </div>
</div>