<h1>メニュー</h1>
ユーザ名：<%= session[:user_name] %>

</br>
---左用---</br>
<p><%= link_to '見積', estimates_path %></p>
<p><%= link_to '受注', orders_path %></p>
<p><%= link_to '発注（未実装）', '' %></p>
<p><%= link_to '入荷・仕入（未実装）', '' %></p>
<p><%= link_to '在庫（未実装）', '' %></p>
<p><%= link_to '出荷・売上（未実装）', '' %></p>
<p><%= link_to '報告書・始末書（未実装）', '' %></p>
---右用---
<p><%= link_to '返品（未実装）', '' %></p>
<p><%= link_to '売掛', receivables_path %></p>
<p><%= link_to '買掛', payables_path %></p>
<p><%= link_to '営業経費（未実装）', '' %></p>
<p><%= link_to 'マスタ管理', master_managements_path %></p>
<p><%= link_to 'システム修正（未実装）', '' %></p>
<p><%= link_to '照会（未実装）', '' %></p>