<% #エラーメッセージ呼び出し %>
<%= render "layouts/messages", flash: flash %>
<div class="contents-wrap">
  <div class="contents-inner">
    <div class="gray-wrap">
      <h1>見積一覧</h1>
      <div class="top-edit">
        <dl class="edit-wrap x2">
          <dt>見積番号</dt>
          <dd>
            <span class="input w200"
              ><input type="text" name="" id="" /></span
            ><span class="hyphen">　~　</span>

            <span class="input w200"
              ><input type="text" name="" id=""
            /></span>
          </dd>
          <dt>見積日</dt>
          <dd>
            <span class="input w200"
              ><input type="text" name="" id="" /></span
            ><span class="hyphen">　~　</span>

            <span class="input w200"
              ><input type="text" name="" id=""
            /></span>
          </dd>
        </dl>
        <dl class="edit-wrap x4">
          <dt>部門</dt>
          <dd>
            <span class="input contents-label"
              ><input type="text" name="" id="" value="001"
            /></span>
            <span class="input w-flex not-edit"> 本社 </span>
          </dd>
          <dt>担当者</dt>
          <dd>
            <span class="input contents-label"
              ><input type="text" name="" id="" value="00005"
            /></span>
            <span class="input w-flex not-edit"> 広瀬愛未 </span>
          </dd>
        </dl>
        <dl class="edit-wrap x4">
          <dt>得意先</dt>
          <dd class="x2">
            <span class="input contents-label"
              ><input type="text" name="" id="" value=""
            /></span>
            <span class="input w-flex not-edit"></span
            ><span class="hyphen">　~　</span>

            <span class="input contents-label"
              ><input type="text" name="" id="" value=""
            /></span>
            <span class="input w-flex not-edit"></span>
          </dd>
          <dt>得意先担当者</dt>
          <dd>
            <span class="input w-200">
              <input type="text" name="" id="" />
            </span>
          </dd>
        </dl>
        <dl class="edit-wrap x4">
          <dt>見積合計金額</dt>
          <dd class="x2">
            <span class="input w200"
              ><input type="text" name="" id="" /></span
            ><span class="hyphen">　~　</span>

            <span class="input w200"
              ><input type="text" name="" id=""
            /></span>
          </dd>
          <dt>仕入先</dt>
          <dd>
            <span class="input contents-label"
              ><input type="text" name="" id="" value=""
            /></span>
            <span class="input w-flex not-edit"></span>
          </dd>
          <dt>状況区分</dt>
          <dd>
            <span class="input w100per not-edit"> 全て </span>
          </dd>
        </dl>
        <dl class="edit-wrap x4">
          <dt>メーカー名</dt>
          <dd>
            <span class="input w100per">
              <input type="text" name="" id="" value="" />
            </span>
          </dd>
          <dt>商品名</dt>
          <dd>
            <span class="input w100per">
              <input type="text" name="" id="" value="" />
            </span>
          </dd>
          <dt>型番</dt>
          <dd>
            <span class="input w100per">
              <input type="text" name="" id="" value="" />
            </span>
          </dd>
          <dt></dt>
          <dd>
            <ul class="top-button-list">
              <li><button>検索</button></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="contents-inner">
    <table>
      <thead>
        <tr>
          <th rowspan="2">見積番号</th>
          <th rowspan="2">技番</th>
          <th rowspan="2">見積日</th>
          <th>担当者</th>
          <th>得意先名</th>
          <th>得意先部署</th>
          <th>得意先担当者</th>
          <th>備考</th>
          <th>見積合計金額</th>
          <th>条件区分</th>
          <th rowspan="2">件名</th>
          <th rowspan="2">明細メモ</th>
        </tr>
        <tr>
          <th>メーカー</th>
          <th>商品名</th>
          <th>型番</th>
          <th>数量</th>
          <th>単位</th>
          <th>単価</th>
          <th>条件区分原単価</th>
        </tr>
      </thead>
      <tbody>
        <% @estimates.each do |estimate| %>
        <tr class="upper-row">
          <td rowspan="2"><%= estimate.id %>-<%= estimate.estimate_branch_number %></td>
          <td><%= estimate.estimate_branch_number %></td>
          <td rowspan="2"><%= estimate.estimate_date %></td>
          <td><%= estimate.create_user_name %></td>
          <td><%= estimate.customer_name %></td>
          <td><%= estimate.cus_department_name %></td>
          <td><%= estimate.cus_charge_name %></td>
          <td></td>
          <td><%= estimate.estimate_amount %></td>
          <td></td>
          <td rowspan="2"><%= estimate.estimate_name %></td>
          <td rowspan="2"><%= estimate.note %></td>
        </tr>
        <tr class="lower-row">
          <td></td>
          <td>三ツ星</td>
          <td>ベルト（裏面センター）</td>
          <td>NS82UG0/0W 100×2215E</td>
          <td>２</td>
          <td>本</td>
          <td>8,000</td>
          <td>4,000</td>
        </tr>
        <% end %>
        <tr class="upper-row">
          <td rowspan="2">000002-2</td>
          <td></td>
          <td rowspan="2">11/5/20</td>
          <td>広瀬　愛未</td>
          <td>株式会社スギヨ</td>
          <td>工務課</td>
          <td>係長　福田</td>
          <td>エンドレス</td>
          <td>16,000</td>
          <td></td>
          <td rowspan="2">三ツ星　ベルト</td>
          <td rowspan="2">※次回より値上げ</td>
        </tr>
        <tr class="lower-row">
          <td></td>
          <td>三ツ星</td>
          <td>ベルト（裏面センター）</td>
          <td>NS82UG0/0W 100×2215E</td>
          <td>２</td>
          <td>本</td>
          <td>8,000</td>
          <td>4,000</td>
        </tr>
        <tr class="upper-row not-active">
          <td rowspan="2">000002-2</td>
          <td></td>
          <td rowspan="2">11/5/20</td>
          <td>広瀬　愛未</td>
          <td>株式会社スギヨ</td>
          <td>工務課</td>
          <td>係長　福田</td>
          <td>エンドレス</td>
          <td>16,000</td>
          <td></td>
          <td rowspan="2">三ツ星　ベルト</td>
          <td rowspan="2">※次回より値上げ</td>
        </tr>
        <tr class="lower-row not-active">
          <td></td>
          <td>三ツ星</td>
          <td>ベルト（裏面センター）</td>
          <td>NS82UG0/0W 100×2215E</td>
          <td>２</td>
          <td>本</td>
          <td>8,000</td>
          <td>4,000</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="contents-inner">
    <ul class="bottom-button-list">
      <li>
        <%= link_to new_estimate_path do %>
          <button>新規作成</button>
        <% end %>
      </li>
      <li><button>詳細</button></li>
      <li><button>複製</button></li>
      <li><button>再見積</button></li>
      <li><button>受注</button></li>
      <li><button class="small">無効</button></li>
      <li><button>状況区分変更</button></li>
      <li><button>見積修正</button></li>
      <li><button class="small">戻る</button></li>
    </ul>
  </div>
</div>