<% #エラーメッセージ呼び出し %>
<%= render "layouts/messages", flash: flash %>
<div class="contents-wrap">
  <div class="contents-inner">
    <div class="gray-wrap">
      <%= form_tag(instocks_search_path,:method => 'post') do %>
        <div class="heading-wrap">
          <h1>入荷入力</h1>
          <p class="top-caution-text"><%= @purchases.present? ? "#{@purchases.size}件のデータが抽出されました" : "" %></p>
        </div>
        <div class="top-edit">
          <dl class="edit-wrap small">
            <dt>発注番号</dt>
            <dd>
              <span class="input w200">
                <%= text_field_tag :id_from %>
              </span>
              <span class="hyphen">~</span>
              <span class="input w200">
                <%= text_field_tag :id_to %>
              </span>
            </dd>
            <dt>仕入先</dt>
            <dd>
              <span class="input w200">
                <%= select_tag :department_id, options_for_select(suppliers_list), include_blank: select_blank %>
              </span>
            </dd>
            <dt>担当者</dt>
            <dd>
              <span class="input w200">
                <%= select_tag :charge_id, options_for_select(users_list), include_blank: select_blank %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
            <dt>受注番号</dt>
            <dd>
              <span class="input">
                <%= text_field_tag :receive_order_id %>
              </span>
            </dd>
            <dt>型番</dt>
            <dd>
              <span class="input w-flex">
                <%= text_field_tag :product_model_number %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
            <dt><strong>仕入伝票日付</strong></dt>
            <dd>
              <span class="input w150">
                <%= date_field_tag :purchase_slip_date %>
              </span>
            </dd>
            <dt></dt>
            <dd class="top-button-list">
              <button>検索</button>
            </dd>
          </dl>
        </div>
      <% end %>
    </div>
  </div>
  <div class="contents-inner">
    <table>
      <thead>
        <tr>
          <th>　</th>
          <th>出荷</th>
          <th>品名</th>
          <th>型番</th>
          <th>仕入先</th>
          <th>単価</th>
          <th>数量</th>
          <th>単位</th>
          <th>金額</th>
          <th>区分</th>
          <th>メーカー非表示</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ー</td>
          <td></td>
          <td>油性塗料（住友グリーン）</td>
          <td>SR-425</td>
          <td>株式会社はがた</td>
          <td class="right">10,000</td>
          <td class="right">3</td>
          <td>缶</td>
          <td class="right">30,000</td>
          <td>受注品</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="contents-inner">
    <div class="page002-bottom-button-wrap">
      <div class="button-group border">
        <p class="title"><span class="inner">入荷</span></p>
        <ul class="bottom-button-list">
          <li><%= link_to instocks_on_path, method: :post do %><button>全てON</button><% end %></li>
          <li><%= link_to instocks_off_path, method: :post do %><button>全てOFF</button><% end %></li>
        </ul>
      </div>
      <div class="button-group">
        <ul class="bottom-button-list">
          <li><%= link_to instocks_path, method: :post do %><button>登録</button><% end %></li>
          <li><%= link_to :back do %><button>戻る</button><% end %></li>
        </ul>
      </div>
    </div>
  </div>
</div>