<h1>マスタ管理</h1>
</br>
<p><%= link_to '従業員情報入力', employee_informations_path %></p>
<p><%= link_to '得意先入力', customer_masters_path %></p>
<p><%= link_to '仕入先入力', supplier_masters_path %></p>
<p><%= link_to '請求書発行', invoices_path %></p>
<p><%= link_to '現金出納帳入力', cashbooks_path %></p>
<p><%= link_to '受取手形台帳', bills_receivables_path %></p>
