<% #エラーメッセージ呼び出し %>
<%#= render "layouts/messages", errors: @???.errors %>
<div class="contents-wrap">
  <%= form_for @order, url: {:controller => :orders, :action => :upsert, :id => @order.id } do |f| %>
    <div class="contents-inner">
      <div class="gray-wrap">
        <h1>受注入力</h1>
        <div class="top-edit">
          <dl class="edit-wrap x4">
            <dt>受注番号</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :id %>
              </span>
            </dd>
            <dt>受注日</dt>
            <dd>
              <span class="input w100per">
                <%= f.date_field :receive_order_date %>
              </span>
            </dd>
            <dt>見積番号</dt>
            <dd class="x2">
                <span class="input w200">
                <%= f.select :estimate_id, estimates_list, include_blank: select_blank %>
              </span>
            </dd>
          </dl>

          <dl class="edit-wrap x4">
            <dt>部門</dt>
            <dd>
              <span class="input w120">
                <%= f.select :department_id, departments_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>担当者</dt>
            <dd>
              <span class="input w120">
                <%= f.select :charge_id, users_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>アシスタント</dt>
            <dd>
              <span class="input w120">
                <%= f.select :assistant_id, users_list, include_blank: select_blank %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>得意先</dt>
            <dd class="x2">
                <span class="input w-flex">
                  <%= f.select :customer_id, customers_list, include_blank: select_blank %>
                </span>
            </dd>
            <dt>得意先部署名</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :cus_department_name %>
              </span>
            </dd>
            <dt>得意先担当者</dt>
            <dd>
              <span class="input w-200">
                <%= f.text_field :cus_charge_name %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>請求先</dt>
            <dd class="x2">
              <span class="input w-flex">
                <%= f.select :bill_id, customers_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>請求先名</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :bill_name %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>出荷先</dt>
            <dd class="x2">
              <span class="input w-flex">
                <%= f.select :ship_id, customers_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>得意先担当者</dt>
            <dd>
              <span class="input w-200">
                <%= f.text_field :ship_charge_name %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>出荷先郵便番号</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :ship_post_code %>
              </span>
            </dd>
            <dt>出荷先都道府県</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :ship_prefecture %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
              <dt>出荷先住所１</dt>
              <dd>
                <span class="input w100per">
                  <%= f.text_field :ship_address1 %>
                </span>
              </dd>
              <dt>出荷先住所２</dt>
              <dd>
                <span class="input w100per">
                  <%= f.text_field :ship_address2 %>
                </span>
              </dd>
          </dl>
          <dl class="edit-wrap x2">
              <dt>タイトル</dt>
              <dd>
                <span class="input w200">
                  <%= f.text_field :receive_order_name %>
                </span>
              </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>出荷先TEL</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :ship_phone_number %>
              </span>
            </dd>
            <dt>出荷先FAX</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :ship_fax_number %>
              </span>
            </dd>
            <dt>客先注文番号</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :cus_order_number %>
              </span>
            </dd>
          </dl>
          <div class="top-edit-flex">
            <dl class="edit-wrap small">
              <dt class="w120">集計分類</dt>
              <dd class="ml0">
                <span class="input w200">
                  <%= f.select :aggregate_category_code, aggregate_category_code_list, include_blank: select_blank %>
                </span>
              </dd>
              </dd>
            </dl>
            <ul class="top-button-list">
              <li><button>保存</button></li>
              <li><button>読込</button></li>
              <li><button>加工依頼</button></li>
              <li><button>ソート</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="contents-inner">
      <table>
        <thead>
          <tr>
            <th>式</th>
            <th>区</th>
            <th>区分</th>
            <th>メーカー</th>
            <th>メーカー名</th>
            <th>商品</th>
            <th>商品名</th>
            <th>型番</th>
            <th>数量</th>
            <th>単位</th>
            <th>単価</th>
            <th>掛率％</th>
            <th>見積金額</th>
            <th>定価</th>
            <th>原単価</th>
            <th>原価金額</th>
            <th>粗利率％</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>0001</td>
            <td>発注</td>
            <td>1</td>
            <td>三ツ星</td>
            <td>00000000</td>
            <td>ベルト（裏面センター）</td>
            <td>NS82UG0/0W 100×2215E</td>
            <td>2</td>
            <td>本</td>
            <td class="right">8,000</td>
            <td>50%</td>
            <td class="right">16,000</td>
            <td></td>
            <td class="right">4,000</td>
            <td class="right">8,000</td>
            <td>50%</td>
          </tr>
          <tr>
            <td></td>
            <td>0001</td>
            <td>発注</td>
            <td>1</td>
            <td>三ツ星</td>
            <td>00000000</td>
            <td>ベルト（裏面センター）</td>
            <td>NS82UG0/0W 100×2215E</td>
            <td>2</td>
            <td>本</td>
            <td class="right">8,000</td>
            <td>50%</td>
            <td class="right">16,000</td>
            <td></td>
            <td class="right">4,000</td>
            <td class="right">8,000</td>
            <td>50%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="contents-inner">
      <div class="gray-wrap">
        <div class="flex-wrap">
          <div class="bottom-left-wrap">
            <dl class="edit-wrap x1">
              <dt>仕様詳細</dt>
              <dd>
                <span class="input w100per">
                  <input type="text" name="" id="" value="※項目未作成">
                </span>
              </dd>
              <dt>備考</dt>
              <dd>
                <span class="input w100per">
                  <input type="text" name="" id="" value="※項目未作成">
                </span>
              </dd>
              <dt>明細メモ</dt>
              <dd>
                <span class="input w100per">
                  <input type="text" name="" id="" value="※項目未作成">
                </span>
              </dd>
            </dl>
          </div>
          <div class="bottom-right-wrap">
            <div class="yellow-wrap mb-medium">
                <dl class="edit-wrap x2">
                    <dt>受注合計金額</dt>
                    <dd>
                      <span class="input w200">
                        <%= f.text_field :receive_order_amount %>
                      </span>
                    </dd>
                    <dt>消費税金額</dt>
                    <dd>
                      <span class="input w200">
                        <%= f.text_field :tax_amount %>
                      </span>
                    </dd>
                    <dt>仕入価/定価</dt>
                    <dd>
                        <span class="input w200">
                            <input class="right" type="text" name="" id="" value="※項目未作成">
                        </span>
                    </dd>

                </dl>
            </div>
          </div>
        </div>
        <ul class="bottom-button-list">
          <li><button class="small">↑</button><button class="small ml-small">↓</button></li>
          <li><button>前行追加</button></li>
          <li><button>後行追加</button></li>
          <li><button>行削除</button></li>
          <li><button>行複写</button></li>
          <li><button>登録</button></li>
          <li><button class="small">戻る</button></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
