<script>
  function select_detail(obj){
    // alert(obj);
    // $('#select_detail').val(v);
    return;
  }
</script>

<% #エラーメッセージ呼び出し %>
<%#= render "layouts/messages", errors: @???.errors %>
param------------------------------------------------------------------------------------<br/>
<% @param.each do |k,v| %>
  key:<%= k %><br/>
  val:<%= v %><br/>
  <br/>
<% end %>
-----------------------------------------------------------------------------------------<br/>
<div class="contents-wrap">
  <%= form_for @order, url: {:controller => :orders, :action => :upsert } do |f| %>
    <%#= hidden_field_tag :order_bk, @order %>
    <%= hidden_field_tag :select_detail, nil %>

    <%#= f.hidden_field :receive_order_name_bk, value: @order.receive_order_name %>
    <div class="contents-inner">
      <div class="gray-wrap">
        <h1>受注入力</h1>
        <div class="top-edit">
          <dl class="edit-wrap x4">
            <dt>受注番号</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :id %>
              </span>
            </dd>
            <dt>受注日</dt>
            <dd>
              <span class="input w100per">
                <%= f.date_field :receive_order_date %>
              </span>
            </dd>
            <dt>見積番号</dt>
            <dd class="x2">
                <span class="input w200">
                <%= f.select :estimate_id, estimates_list, include_blank: select_blank %>
              </span>
            </dd>
          </dl>

          <dl class="edit-wrap x4">
            <dt>部門</dt>
            <dd>
              <span class="input w120">
                <%= f.select :department_id, departments_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>担当者</dt>
            <dd>
              <span class="input w120">
                <%= f.select :charge_id, users_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>アシスタント</dt>
            <dd>
              <span class="input w120">
                <%= f.select :assistant_id, users_list, include_blank: select_blank %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>得意先</dt>
            <dd class="x2">
                <span class="input w-flex">
                  <%= f.select :customer_id, customers_list, include_blank: select_blank %>
                </span>
            </dd>
            <dt>得意先部署名</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :cus_department_name %>
              </span>
            </dd>
            <dt>得意先担当者</dt>
            <dd>
              <span class="input w-200">
                <%= f.text_field :cus_charge_name %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>請求先</dt>
            <dd class="x2">
              <span class="input w-flex">
                <%= f.select :bill_id, customers_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>請求先名</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :bill_name %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>出荷先</dt>
            <dd class="x2">
              <span class="input w-flex">
                <%= f.select :ship_id, customers_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>得意先担当者</dt>
            <dd>
              <span class="input w-200">
                <%= f.text_field :ship_charge_name %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>出荷先郵便番号</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :ship_post_code %>
              </span>
            </dd>
            <dt>出荷先都道府県</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :ship_prefecture %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
              <dt>出荷先住所１</dt>
              <dd>
                <span class="input w100per">
                  <%= f.text_field :ship_address1 %>
                </span>
              </dd>
              <dt>出荷先住所２</dt>
              <dd>
                <span class="input w100per">
                  <%= f.text_field :ship_address2 %>
                </span>
              </dd>
          </dl>
          <dl class="edit-wrap x2">
              <dt>タイトル</dt>
              <dd>
                <span class="input w200">
                  <%= f.text_field :receive_order_name %>
                </span>
              </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>出荷先TEL</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :ship_phone_number %>
              </span>
            </dd>
            <dt>出荷先FAX</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :ship_fax_number %>
              </span>
            </dd>
            <dt>客先注文番号</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :cus_order_number %>
              </span>
            </dd>
          </dl>
          <div class="top-edit-flex">
            <dl class="edit-wrap small">
              <dt class="w120">集計分類</dt>
              <dd class="ml0">
                <span class="input w200">
                  <%= f.select :aggregate_category_code, aggregate_category_code_list, include_blank: select_blank %>
                </span>
              </dd>
              </dd>
            </dl>
            <ul class="top-button-list">
              <li><%= f.button :type => "submit", :name => 'submit', :value => 'save' do %>保存<% end %></li>
              <li><%= f.button :type => "submit", :name => 'submit', :value => 'read' do %>読込<% end %></li>
              <li><%= link_to orders_pdf_path, method: :post do %><button>加工依頼</button><% end %></li>
              <li><%= f.button :type => "submit", :name => 'submit', :value => 'sort' do %>ソート<% end %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="contents-inner">
      <table>
        <thead>
          <tr>
            <th>式</th>
            <th>区</th>
            <th>区分</th>
            <th>メーカー</th>
            <th>メーカー名</th>
            <th>商品</th>
            <th>商品名</th>
            <th>型番</th>
            <th>数量</th>
            <th>単位</th>
            <th>単価</th>
            <th>掛率％</th>
            <th>見積金額</th>
            <th>定価</th>
            <th>原単価</th>
            <th>原価金額</th>
            <th>粗利率％</th>
          </tr>
        </thead>
        <tbody>
          <% @details.each do |od| %>
            <tr>
              <td><%= f.button :type => "submit", :name => 'submit', :value => 'detail_select', :class => 'small' do %>選択<% end %><%#= od. %></td>
              <td><%#= od.order_category_code %></td>
              <td><%= od.order_category_name %></td>
              <td><%= od.maker_id %></td>
              <td><%= od.maker_name %></td>
              <td><%= od.product_id %></td>
              <td><%= od.product_name %></td>
              <td><%= od.product_model_number %></td>
              <td><%= od.receive_order_quantity %></td>
              <td><%= od.product_unit %></td>
              <td class="right"><%= od.sale_unit_price %></td>
              <td><%= od.multiplication_rate %>%</td>
              <td class="right"><%= od.receive_order_detail_amount %></td>
              <td><%= od.list_price %></td>
              <td class="right"><%= od.original_unit_price %></td>
              <td class="right"><%= od.cost_price %></td>
              <td><%= od.profit_rate %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= f.fields_for :t_receive_order_details, @detail do |d| %>
      <div class="contents-inner">
        <div class="gray-wrap">
          <div class="flex-wrap">
            <div class="bottom-left-wrap">
              <dl class="edit-wrap x1">
                <dt>仕様詳細</dt>
                <dd>
                  <span class="input w100per">
                    <%= d.text_field :spec_detail %>
                  </span>
                </dd>
                <dt>備考</dt>
                <dd>
                  <span class="input w100per">
                    <%= d.text_field :detail_note %>
                  </span>
                </dd>
                <dt>明細メモ</dt>
                <dd>
                  <span class="input w100per">
                    <%= d.text_field :detail_memo %>
                  </span>
                </dd>
              </dl>
            </div>
            <div class="bottom-right-wrap">
              <div class="yellow-wrap mb-medium">
                <dl class="edit-wrap x2">
                  <dt>受注合計金額</dt>
                  <dd>
                    <span class="input w200">
                      <%= f.text_field :receive_order_amount %>
                    </span>
                  </dd>
                  <dt>消費税金額</dt>
                  <dd>
                    <span class="input w200">
                      <%= f.text_field :tax_amount %>
                    </span>
                  </dd>
                  <dt>仕入価/定価</dt>
                  <dd>
                    <span class="input w200">
                      <input class="right" type="text" name="" id="" value="※項目未作成">
                    </span>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <ul class="bottom-button-list">
            <li>
              <%= f.button :type => "submit", :name => 'submit', :value => 'detail_lineup', :class => 'small' do %>↑<% end %>
              <%= f.button :type => "submit", :name => 'submit', :value => 'detail_linedown', :class => 'small ml-small' do %>↓<% end %>
            </li>
            <li><%= f.button :type => "submit", :name => 'submit', :value => 'detail_addfront' do %>前行追加<% end %></li>
            <li><%= f.button :type => "submit", :name => 'submit', :value => 'detail_addback' do %>後行追加<% end %></li>
            <li><%= f.button :type => "submit", :name => 'submit', :value => 'detail_delete' do %>行削除<% end %></li>
            <li><%= f.button :type => "submit", :name => 'submit', :value => 'detail_copy' do %>行複写<% end %></li>
            <li><%= f.button :type => "submit", :name => 'submit', :value => 'detail_save' do %>登録<% end %></li>
            <li><%= link_to orders_path do %><button class="small">戻る</button><% end %></li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
