<div class="contents-wrap">
  <div class="contents-inner">
    <% #エラーメッセージ呼び出し %>
    <%#= render "layouts/errors", errors: @???.errors %>
    <div class="gray-wrap">
      <h1>仕入先入力</h1>
      <%= form_for @supplier, url: {:controller => :supplier_masters, :action => :upsert, :id => @supplier.id } do |f| %>
        <div class="top-edit">
          <dl class="edit-wrap small">
            <dt>仕入先番号</dt>
            <dd>
              <!--
              <span class="input w100 not-edit">S</span>
              <span class="hyphen">−</span>
              <span class="input w50 not-edit">100 </span>
              -->
              <span class="input w100"><%= f.text_field :supplier_number %></span>
            </dd>
            <dt>登録日</dt>
            <dd>
              <span class="input w200">
                <%= f.date_field :start_date %>
              </span>
            </dd>
            <dt>部門</dt>
            <dd>
              <span class="input w120">
                <%= f.select :department_id, departments_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>担当者</dt>
            <dd>
              <span class="input w120">
                <%= f.select :charge_id, users_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>発行者</dt>
            <dd>
              <span class="input w120">
                <%= f.select :input_user_id, users_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>マスタキー</dt>
            <dd>
              <span class="input w100per">
                <input type="text" name="" id="" value="※項目未作成" />
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
            <dt>仕入先名</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :supplier_name %>
              </span>
            </dd>
            <dt>仕入先担当者役職</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :charge_position %>
              </span>
            </dd>
            <dt>仕入先担当者</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :charge_name %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>仕入先住所（郵便番号）</dt>
            <dd class="x2">
              <span class="input w100per">
                <%= f.text_field :post_code %>
              </span>
            </dd>
            <dt>仕入先住所（都道府県）</dt>
            <dd class="x2">
              <span class="input w100per">
                <%= f.text_field :prefecture %>
              </span>
            </dd>
            <dt>仕入先住所（住所1）</dt>
            <dd class="x2">
              <span class="input w100per">
                <%= f.text_field :address1 %>
              </span>
            </dd>
            <dt>仕入先住所（住所2）</dt>
            <dd class="x2">
              <span class="input w100per">
                <%= f.text_field :address2 %>
              </span>
            </dd>

            <dt>電話番号</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :phone_number %>
              </span>
            </dd>
            <dt>FAX番号</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :fax_number %>
              </span>
            </dd>
            <dt>メールアドレス</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :mail_address %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>支払条件</dt>
            <dd>
              <span class="input w120">
                <%= f.select :payment_category_code, payment_category_code_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>締日</dt>
            <dd>
              <span class="input w120">
                <%= f.select :close_date_code, close_date_code_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>支払日</dt>
            <dd>
              <span class="input w120">
                <%= f.select :payment_day_code, payment_date_code_list, include_blank: select_blank %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
            <dt>振込先</dt>
            <dd>
              <span class="input w-flex">
                <%= f.select :payment_account_id, payment_accounts_list, include_blank: select_blank %>
              </span>
            </dd>
          </dl>
          <div class="top-edit-flex">
            <dl class="edit-wrap small">
              <dt class="w120">備考欄</dt>
              <dd class="w-flex ml0">
                <span class="input w100per">
                  <%= f.text_area :note %>
                </span>
              </dd>
            </dl>
            <ul class="top-button-list">
              <li><button name="create">新規登録</button></li>
              <li><button name="update">保存</button></li>
            </ul>
          </div>
          <h4>仕入先コード</h4>
          <%= f.text_field :id %>

        </div>
      <% end %>
    </div>
  </div>
  <div class="contents-inner">
    <table>
      <thead>
        <tr>
          <th>仕入先コード</th>
          <th>仕入先名</th>
          <th>住所</th>
          <th>電話番号</th>
          <th>FAX番号</th>
          <th>仕入先担当者</th>
        </tr>
      </thead>
      <tbody>
        <% @suppliers.each.with_index(1) do |supplier, i| %>
          <tr data-link="<%= edit_supplier_master_path(supplier.id) %>">
            <td><%= supplier.id %></td>
            <td><%= supplier.supplier_name %></td>
            <td>
              <%= supplier.post_code + ' ' %>
              <%= supplier.prefecture %>
              <%= supplier.address1 %>
              <%= supplier.address2 %>
            </td>
            <td><%= supplier.phone_number %></td>
            <td><%= supplier.fax_number %></td>
            <td><%= supplier.charge.user_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>

<style>
  tr:hover {
    background: gray;
  }
</style>