<% #エラーメッセージ呼び出し %>
<%= render "layouts/messages", flash: flash %>
<div class="contents-wrap">
  <div class="contents-inner">
    <div class="gray-wrap">
      <h1>得意先入力</h1>
      <%= form_for @customer, url: {:controller => :customer_masters, :action => :upsert, :id => @customer.id } do |f| %>
        <div class="top-edit">
          <dl class="edit-wrap small">
            <dt>得意先番号</dt>
            <dd>
              <span class="input w50 not-edit">108</span>
              <span class="hyphen">−</span>
              <span class="input w50 not-edit">100 </span>
            </dd>
            <dt>得意先コード</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :id %>
              </span>
            </dd>
            <dt>登録日</dt>
            <dd>
              <span class="input w200">
                <%= f.date_field :start_date %>
              </span>
            </dd>
            <dt>マスタキー</dt>
            <dd>
              <span class="input w100per">
                <input type="text" name="" id="" value="※項目未作成" />
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>部門</dt>
            <dd>
              <span class="input w200">
                <%= f.select :department_id, departments_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>担当者</dt>
            <dd>
              <span class="input w200">
                <%= f.select :charge_id, users_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>発行者</dt>
            <dd>
              <span class="input w200 not-edit">
                <%= @customer.input_user.present? ? @customer.input_user_id + ':' + @customer.input_user.user_name : @current_user.id + ':' + @current_user.user_name %>
              </span>
            </dd>
            
          </dl>
          <dl class="edit-wrap x4">
            <dt>得意先名</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :customer_name %>
              </span>
            </dd>
            <dt>得意先担当者役職</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :charge_position %>
              </span>
            </dd>
            <dt>得意先担当者</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :charge_name %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>得意先郵便番号</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :cus_post_code %>
              </span>
            </dd>
            <dt>得意先都道府県</dt>
            <dd>
              <span class="input w200">
                <%= f.text_field :cus_prefecture %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
              <dt>得意先住所１</dt>
              <dd>
                <span class="input w100per">
                  <%= f.text_field :cus_address1 %>
                </span>
              </dd>
              <dt>得意先住所２</dt>
              <dd>
                <span class="input w100per">
                  <%= f.text_field :cus_address2 %>
                </span>
              </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>電話番号</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :phone_number %>
              </span>
            </dd>
            <dt>FAX番号</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :fax_number %>
              </span>
            </dd>
            <dt>メールアドレス</dt>
            <dd>
              <span class="input w100per">
                <%= f.text_field :mail_address %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>支払条件</dt>
            <dd>
              <span class="input w120">
                <%= f.select :payment_category_code, payment_category_code_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>締日</dt>
            <dd>
              <span class="input w120">
                <%= f.select :close_date_code, close_date_code_list, include_blank: select_blank %>
              </span>
            </dd>
            <dt>支払日</dt>
            <dd>
              <span class="input w120">
                <%= f.select :payment_date_code, payment_date_code_list, include_blank: select_blank %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
            <dt>振込先</dt>
            <dd>
              <span class="input w-flex">
                <%= f.select :deposit_account_id, deposit_accounts_list, include_blank: select_blank %>
              </span>
            </dd>
          </dl>
          <div class="top-edit-flex">
            <dl class="edit-wrap small">
              <dt class="w120">備考欄</dt>
              <dd class="w-flex ml0">
                <span class="input w100per">
                  <textarea>※項目未作成</textarea>
                </span>
              </dd>
            </dl>
            <ul class="top-button-list">
              <li><button name="create">登録</button></li>
              <li>
                <button
                  name="update"
                  class="<%= @customer.id.blank? ? 'btn-not-edit' : '' %>"
                  <%= @customer.id.blank? ? 'disabled' : '' %>>
                  更新
                </button>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="contents-inner">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>得意先コード</th>
          <th>部門コード</th>
          <th>仕入先名</th>
          <th>住所</th>
          <th>電話番号</th>
          <th>FAX番号</th>
          <th>担当コード</th>
          <th>担当名</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each.with_index(1) do |customer, i| %>
          <tr data-link="<%= edit_customer_master_path(customer.id) %>">
            <td><%= i %></td>
            <td><%= customer.id %></td>
            <td><%= customer.department_id %></td>
            <td><%= customer.customer_name %></td>
            <td>
              <%= customer.cus_post_code + ' ' %>
              <%= customer.cus_prefecture %>
              <%= customer.cus_address1 %>
              <%= customer.cus_address2 %>
            </td>
            <td><%= customer.phone_number %></td>
            <td><%= customer.fax_number %></td>
            <td><%= customer.charge_id %></td>
            <td><%= customer.charge.user_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>

<style>
  tr:hover {
    background: gray;
  }
</style>