<% #エラーメッセージ呼び出し %>
<%= render "layouts/messages", flash: flash %>
<div class="contents-wrap">
  <div class="contents-inner">
    <%= form_for @receivable, url: {:controller => :receivables, :action => :upsert } do |f| %>
      <div class="gray-wrap">
        <h1>売掛帳</h1>
        <div class="top-edit">
          <dl class="edit-wrap x4 mb-medium">
          <dt>請求日</dt>
          <dd>
            <span class="input w100per">
              <%= date_field_tag :billing_date %>
            </span>
          </dd>
          <dt>販売先</dt>
          <dd>
            <span class="input w100per">
              <%= select_tag :department_id, options_for_select(customers_list), include_blank: select_blank %>
            </span>
          </dd>
          <dt>適用</dt>
          <dd>
            <span class="input w100per">
              <%= text_field_tag :applicable_date %>
            </span>
          </dd>
          <dt>未入金</dt>
          <dd>
            <span class="input w100per">
              <%= text_field_tag :not_deposit %>
            </span>
          </dd>
        </dl>

        <div class="top-edit-flex">
            <dl class="edit-wrap small">
              <dt></dt>
              <dd>
              </dd>
            </dl>
            <ul class="top-button-list">
              <li><%= f.button :type => "submit", :name => 'submit', :value => 'sort' do %>ソート<% end %></li>
              <li><%= f.button :type => "submit", :name => 'submit', :value => 'output' do %>印刷<% end %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="contents-inner">
    <table>
      <thead>
        <tr>
          <th>請求日</th>
          <th>仕入先</th>
          <th>No</th>
          <th>適用</th>
          <th>支払方法</th>
          <th>支払日<br>
          予定日</th>
          <th>金額</th>
          <th>消費税</th>
          <th>合計</th>
          <th>相殺額</th>
          <th>差引合計</th>
          <th>支払日</th>
          <th>支払額</th>
          <th>支払手数料</th>
          <th>残高</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>　</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>　</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="contents-inner">
    <%= form_for @offset, url: {:controller => :receivables, :action => :upsert } do |f| %>
      <div class="gray-wrap">
        <h2 class="mb-small">相殺処理</h2>
        <div class="flex-wrap">
          <div class="bottom-left-wrap">
            <dl class="edit-wrap x1">
              <dt>請求No</dt>
              <dd>
                <span class="input w100per">
                  <%= text_field_tag :demand_id %>
                </span>
              </dd>
              <dt>販売額</dt>
              <dd>
                <span class="input w100per">
                  <%= text_field_tag :amount %>
                </span>
              </dd>
            </dl>
        </div>
        <div class="bottom-right-wrap page008_bottom-right">
            <div class="w100per page008_bottom-right">
              <div class="mb-medium">
                <dl class="edit-wrap x1">
                  <dt>マスターキー</dt>
                  <dd>
                    <span class="input w200">
                      <%= text_field_tag :master_key %>
                    </span>
                  </dd>
                </dl>
              </div>
            </div>
            <ul class="bottom-button-list">
              <li><%= f.button :type => "submit", :name => 'submit', :value => 'input' do %>入力<% end %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>