<% #エラーメッセージ呼び出し %>
<%= render "layouts/messages", flash: flash %>
<div class="contents-wrap">
  <div class="contents-inner">
    <%= form_tag(shipments_search_path,:method => 'post') do %>
      <div class="gray-wrap">
        <h1>出荷入力</h1>
        <p class="top-caution-text"><%= @purchases.present? ? "#{@purchases.size}件のデータが抽出されました" : "" %></p>
        <div class="top-edit">
          <dl class="edit-wrap x2">
            <dt>受注番号</dt>
            <dd>
              <span class="input w200">
                <%= text_field_tag :id_from %>
              </span>
            </dd>
            <dt>出荷日</dt>
            <dd>
              <span class="input w200">
                <%= date_field_tag :sales_date %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x4">
            <dt>部門</dt>
            <dd>
              <span class="input w200">
                <%= select_tag :department_id, options_for_select(departments_list), include_blank: select_blank %>
              </span>
            </dd>
            <dt>担当者</dt>
            <dd>
              <span class="input w200">
                <%= select_tag :charge_id, options_for_select(users_list), include_blank: select_blank %>
              </span>
            </dd>
            <dt>アシスタント</dt>
            <dd>
              <span class="input w200">
                <%= select_tag :assistant_id, options_for_select(users_list), include_blank: select_blank %>
              </span>
            </dd>
          </dl>
          <dl class="edit-wrap x2">
            <dt>得意先</dt>
            <dd>
              <span class="input w200">
                <%= select_tag :customer_id, options_for_select(customers_list), include_blank: select_blank %>
              </span>
            </dd>
            <dt></dt>
            <dd class="top-button-list">
              <button>検索</button>
            </dd>
          </dl>
        </div>
      </div>
    <% end %>
  </div>
  <div class="contents-inner">
    <table>
      <thead>
        <tr>
          <th>　</th>
          <th>出荷</th>
          <th>品名</th>
          <th>型番</th>
          <th>仕入先</th>
          <th>単価</th>
          <th>数量</th>
          <th>単位</th>
          <th>金額</th>
          <th>区分</th>
          <th>メーカー非表示</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ー</td>
          <td></td>
          <td>油性塗料（住友グリーン）</td>
          <td>SR-425</td>
          <td>株式会社はがた</td>
          <td class="right">10,000</td>
          <td class="right">3</td>
          <td>缶</td>
          <td class="right">30,000</td>
          <td>受注品</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="contents-inner">
    <ul class="bottom-button-list">
      <li><%= link_to shipments_on_path, method: :post do %><button>全てON</button><% end %></li>
      <li><%= link_to shipments_off_path, method: :post do %><button>全てOFF</button><% end %></li>
      <li><%= link_to shipments_path, method: :post do %><button>登録</button><% end %></li>
      <li><%= link_to shipments_trial_send_path, method: :post do %><button>仮送信</button><% end %></li>
      <li><%= link_to shipments_no_preview_path, method: :post do %><button>プレビューしないで印刷</button><% end %></li>
      <li><%= link_to :back do %><button class="small">戻る</button><% end %></li>
    </ul>
  </div>
</div>